---
import { Post, db } from 'astro:db';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await db.select().from(Post);

	const pages = posts.map((post) => {
		return {
			id: post.id,
			userId: post.userId,
			slug: post.title,
			title: post.title,
			content: post.content,
			createdAt: post.createdAt,
			updatedAt: post.updatedAt
		};
	});

	return pages.map(
		({ slug, title, content, id, userId, createdAt, updatedAt }) => {
			return {
				params: { slug },
				props: { title, content, id, userId, createdAt, updatedAt }
			};
		}
	);
}

const { title, content } = Astro.props;

export const prerender = true
---

<Layout title={title}>
	<header class="flex items-center justify-center h-32">
		<h1 class="text-white text-2xl">{title}</h1>
	</header>
	<main class="max-w-3xl">
		<p class="text-white">{content}</p>
	</main>
	<footer>
		<p class="text-white">Built with Astro and Astro DB</p>
	</footer>
</Layout>

